@{
   
    Layout = null;

    var info = ViewBag.Info == null ? new Model.commenttype() : (Model.commenttype)ViewBag.Info;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>点评详情</title>
    <link href="/Skins/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://aui.github.io/artDialog/lib/jquery-1.10.2.js"></script>
    <script src="~/Skins/artDialog/dist/dialog.js"></script>
    <script src="~/Skins/artDialog/dist/dialog-plus.js"></script>
</head>
<body>
    <div>
        <div role="form">
            <div class="form-group">
                <label>维度名称：</label>
                <input class="form-control" id="typename" value="@info.typename">
                <input type="hidden" id="hid" value="@info.commenttypeid" />
            </div>

            <button type="button" class="btn btn-primary" onclick="save()">保存</button>

        </div>
    </div>
    <script>

        function ok() {

            top.dialog.get('id-info').close()
        }

    </script>

    <script>

        function save() {

            var typename = $("#typename").val();
            var commenttypeid = $("#hid").val();
            var data = "typename=" + typename + "&commenttypeid=" + commenttypeid
            //ajax
            $.post("/CommentType/Save", data, function (data) {
                if (data == "True") {
                    top.window.location.reload();

                } else {
                    //消息
                    dialog({
                        title: "失败",
                        content: '保存失败！'
                    }).show();
                }
            });

            return false;

        }

    </script>

</body>
</html>
